<div class="row">
    <h1 class="text-center">Blocipedia: Social, Markdown Wikis</h1>
</div>
<div class="row bg-primary box-highlight text-center">
    <p>Create and share Markdown Wikis</p>
    <p><%=link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %></p>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <p>Create as many public wikis as you want!</p>
    </div>
    <div class="col-md-6 text-center">
        <p>Create private wikis!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <p>Free Plan (placeholder)</p>
    </div>
    <div class="col-md-6 text-center">
        <p>Premium Plan (placeholder)</p>
    </div>
</div>
